/*I can't help myself. I have to make this look halfway decent. Blame the designer in me!*/

@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900';
body{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 0.875em; /*16 * 0.875 = 14. THis is the new base font and any other em measurements will be based off of this.*/
  line-height: 1.4285714286em; /*14 * 1.4285714286 = 20*/
  color: rgba(0, 0, 0, 0.870588);
}

p{
  max-width: 500px;
}

h1{
  font-size: 3.2142857143em; /*14 * 3.2142857143 = 45*/
  line-height:1.0666666667em; /* 45 * 1.0666666667 = 48*/
  margin: 20px 0 10px 0;
  padding: 0;
  font-weight: normal;
}

h2{
  font-size: 1em;
  margin: 20px 0 10px 0;
  line-height: 1.4285714286em;
}

img{
  width: 100%;
  margin: 10px 0 10px 0;
}

a{
  text-decoration: none !important;
  color: rgba(0,0,0, 0.870588);
}

a:link, a:visited, a:hover{
  border-bottom: 1px solid rgba(0,0,0, 0.870588);
}

a:hover{
  color: rgba(0,0,0,0.50)
}